<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-image: url('/images/blue_white_bar.jpg'); height: 55px;">
  <button type="button" id="sidebarCollapse" class="navbar-btn"><img src="/images/handi_logo_clear.png" height="35" width="75" alt="logo"></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        </li>
        <li id="logout-button" class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
</nav>