<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3><%= user.userName %></h3>
        </div>

        <ul class="list-unstyled components">
            <form id="youtube-search" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" id="search-value" type="text" placeholder="Search" aria-label="Search">
                <button id="side-add-button" class="btn btn-primary my-2 my-sm-0" type="submit">+</button>
            </form>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Account</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a class="nav-link" href="/">Home</a></li>
                    <li><a class="nav-link" href="/edit">Edit Profile</a></li>
                    <li><a class="nav-link" href="/logout">Logout</a></li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Wins Pile</a>
                <ul class="collapse list-unstyled wins-list" id="pageSubmenu">
                </ul>
            </li>
            <li>   
            <p id="copyright">&copy; WorldWide Inc. 2017 &#9996;</p>
        </ul>
    </nav>
    

