<div class="col-sm-6 col-sm-offset-3">
        
    <h1>Edit User</h1>

    <form action="/users/<%= user.id %>/edit?_method=PATCH" method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="userName">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Update</button>
    </form>
    <form action="/users/<%= user.id %>?_method=DELETE" method="post">
        <button type="submit" class="btn btn-danger btn-lg">Delete</button>
    </form>
</div>