<div class="col-lg-3">
<div class="page-header">
        <h1><%= user.userName %></h1>
    
        <a href="/logout" class="btn btn-primary btn-sm">Logout</a>
        <a href="/edit" class="btn btn-primary btn-sm">Edit</a>
    
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="well">
                <p>
                    <strong>Name</strong>: <br>
                    <%= user.userName %><br>
                    <strong>email</strong>: <br>
                    <%= user.email %><br>
                </p>    
            </div>
        </div>
    </div>
</div>

<form id="youtube-search" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" id="search-value" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<script>
var $searchBar = $("#youtube-search")
$searchBar.on('submit', (evt) => {
    evt.preventDefault()
    var term = $("#search-value").val()
    var searchURL = '/search?term=' + term
    $.ajax({url: searchURL, method: 'get'}).done(function(res){
    console.log(res)
    })
})
</script>