<div class="col-lg-3">
<div class="page-header">

        <img src="../public/images/handi-bar-logo.png" height="30" width="60" alt="logo">
    
        <h1><%= user.userName %></h1>
    
        <a href="/logout" class="btn btn-primary btn-sm">Logout</a>
        <a href="/edit" class="btn btn-primary btn-sm">Edit</a>
    
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="well">
                <p>
                    <strong>Name</strong>: <br>
                    <%= user.userName %><br>
                    <strong>email</strong>: <br>
                    <%= user.email %><br>
                </p>    
            </div>
        </div>
    </div>
</div>